div(class="container-complete-marriage")
  div(class="article1-container")
    div 
      h3 Marriage certificate for name1 and name2 is ready
      button(class='certificateButton') View Certificate
