div(class="container-confirmation")
  div(class="nav-container")
    h1 LoveBlock
    img

  div(class="article1-container")
    p(class="confirmation-header") Hurray, we have found a matching request!
    br
    p(class="question-header") Do you take your partner to be your lifelong blockchain partner?
    br
    div(class="button-confirmation")
      button(class='confirmYesButton') Yes, I do
      button(class='confirmNoButton') No, I don't
