div(class="container-confirmation")
  div(class="nav-container")
    h1 LoveBlock
    img

  div(class="article1-container")
    p Hurray, we have found a matching request!

  div(class="article2-container")
    p Do you,... take ... to be your lifelong blockchain partner?

  div(class="article3-container")
    div(class="button-confirmation")
      button Yes, I do
      button No, I don't
