div(class="container-confirmation")
  div(class="article1-container")
    div(class="proposal-container")
      div
        div(class="container-marriage-id")
        p(class="confirmation-header") We have found a matching request!
      br
      div
        p(class="question-header") Do you take your partner to be your lifelong blockchain partner?
      br
      div(class="button-confirmation")
        button(class='confirmYesButton') Yes, I do
