div(class='container-form')
  div(class="article2-container")
    p Do you,... take ... to be your lifelong blockchain partner?

  div(class="article3-container")
    div(class="button-confirmation")
      button(class='confirmYesButton') Yes, I do
      button(class='confirmNoButton') No, I don't
