div(class='container-form')
  div(class='article1-container')
    form(class='form')
      label First
      input(class="input-form" type="text" name="name" placeholder="First Name")
      label Middle Name
      input(class="input-form" type="text" name="name" placeholder="Middle Name")
      label Last Name
      input(class="input-form" type="text" name="name" placeholder="Last Name")
      label Date of Birth
      input(class="input-form" type="text" name="name" placeholder="Date of Birth")
      label id
      input(class="input-form" type="text" name="name" placeholder="e.g Passport id")
      button(class="" type="submit") Add personal details
