div(class='container-form')
  form 
    label First
    input(type="text" name="name" placeholder="First Name")
    label Middle Name
    input(type="text" name="name" placeholder="Middle Name")
    label Last Name
    input(type="text" name="name" placeholder="Last Name")
    label Date of Birth
    input(type="text" name="name" placeholder="Date of Birth")
    label id
    input(type="text" name="name" placeholder="e.g Passport id")
    button(class="" type="submit") Add personal details
