div(class='container-form')
  h3 Your MarId is ....
  form(class="form1") 
    div
      div
        label First Name
      input(class="input-form" type="text" name="firstName" placeholder="First Name")
    div
      div
        label Middle Name
      input(class="input-form" type="text" name="middleName" placeholder="Middle Name")
    div
      div
        label Last Name
      input(class="input-form" type="text" name="lastName" placeholder="Last Name")
    div
      div
        label Date of Birth
      input(class="input-form" type="text" name="DOB" placeholder="Date of Birth")
    div
      div
        label id
      input(class="input-form" type="text" name="id" placeholder="e.g Passport id")
    div
      div
        button(class="personalDetailsButton" type="submit") Add
