div(class='container-form')
  form 
    label First Name
    input(type="text" name="firstName" placeholder="First Name")
    label Middle Name
    input(type="text" name="middleName" placeholder="Middle Name")
    label Last Name
    input(type="text" name="lastName" placeholder="Last Name")
    label Date of Birth
    input(type="text" name="DOB" placeholder="Date of Birth")
    label id
    input(type="text" name="id" placeholder="e.g Passport id")
    button(class="personalDetailsButton" type="submit") Add personal details
