doctype
html
  head
    meta
    title LoveBlock
    link(href='/css/style.css', rel='stylesheet')
  body
  
  include main
  include propose
  include form
  include pendingProposal
  include confirmation
  include pendingMarriageCompletion
  include completeMarriage
  include congratulations
  include cancelled
    
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="js/web3.min.js")
script(src="js/truffle-contract.js")
script(src="js/app.js")
