div(class="container-main")
  div(class="nav-container")      
    h1 LoveBlock
    
  div(class="article1-container")
    img(src="")
    p What is LoveBlock?
    img(src="")

  div(class="article2-container")
    p Explaining LoveBlock for Noobs

  div(class="article3-container")
    a(href="propose.html", Propose page)
    button(class="getMarriedButton" onclick='handleGetMarried') Get married
