div(class="container-main")
  div(class="nav-container")      
    h1 LoveBlock
    
  div(class="article1-container")
    div(class="element1")
      p Cement your commitment on the blockchain.
      br
      p Get chained today.
      button(class="getMarriedButton") Get married
    div(class="element2")
      div 
        img(class="main-logo" src="./assets/logo.png")
