div(class="container-pending-marriage")
  div(class="article1-container")
    img
    h3 Your MarID is .....
    h3 We are waiting for your mariage to be complete.
    h3 Once your marriage is complete, the link to your certificate will appear on this page.
