div(class="container-pending-marriage")
  div(class="article1-container")
    div(class="pendingProposal")
      div
        h3 Your MarID is .....
      div
        h3 We are waiting for your mariage to be complete.
      div
        h3 Once your marriage is complete, the link to your certificate will appear on this page.
      div
        div(class="loader1")
