div(class="container-propose")
  div(class="article1-container")
    div(class='proposal-confirmation')
      div(class="propose-form-container")
        div(class="propose-header1")
          br
          br
          p(class="propose-header") Who would you like to get married to?
        br
        form(class='form')
          div
            p(class='p') Send Proposal
          input(type="text" name="name" placeholder="Enter your partner's blockchain address..." maxlength="42")
          button(type="image" src='./assets/button.png' class="sendProposalButton")
            img(class="button-image" src='./assets/button.png')
