div(class="container-propose")
  div(class="nav-container")
    h1 LoveBlock
    img
  div(class="article1-container")
    form
      div Who do you want to get married to?
        input(type="text" name="" value="")
      div Tell us why?
        input(type="text" name="" value="")
        button(type="submit" value="")
