div(class="container-propose")
  div(class="nav-container")
    h1 LoveBlock
    img
  div(class="article1-container")
    form
      label Who do you want to get married to?
      input(type="text" name="name" placeholder="Blockhain id") 
      label  Tell us why?
      input(type="text" name="reason" placeholder="Your reason...")
      button(class="sendProposalButton" type="submit") Send Proposal
